<!DOCTYPE html>
<html lang="en">
  {{#> head }}
    {{> realtyBranding }}
  {{/head}}
  <body onload="bxi.pageLoad()" class="bxi realty dashboard">
    {{> variables}}
    <header class="bxi-header-bg-color">
      <nav class="navbar navbar-expand-lg navbar-dark position-relative bxi-zi-2">
        <div class="container">
          <div class="bxi-nav">
            <a class="bxi-nav-toggle" role="button">
              {{> hamburgerIcon }}
            </a>
            <ul class="bxi-nav-links bxi-bg-secondary">
              {{#each settings.header.links}}
              <li>
                <a class="bxi-link bxi-link-light--primary">{{this}}</a>
              </li>
              {{/each}}
            </ul>
            <a id="bxi-logo" class="navbar-brand py-0 ms-3">
              <img src="{{settings.images.logo}}" alt="Logo" />
            </a>
          </div>
          <div class="d-flex flex-row position-relative">
            <p id="username-container" class="me-3 d-none d-sm-flex m-0 align-items-center">{{settings.dashboard.username}}</p>
            <div class="bxi-user-icon d-flex bxi-bg-primary me-0 me-lg-3 pe-lg-none">
              {{> userIcon }}
            </div>
            <div class="bxi-auth-buttons bxi-auth-buttons--link bxi-bg-secondary bxi-bg-lg-transparent p-2 p-lg-0">
              <button onclick="bxi.logout()" class="bxi-button">Log Out</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="d-flex flex-column flex-md-row justify-content-end my-4">
        {{!-- See src/dashboard-buttons.hbs to update dashboard buttons --}}
        {{> dashboardButtons}}
      </div>
      <div class="row mb-4">
        <div class="col-12 col-lg-5">
          <h1 class="bxi-main-header text-uppercase mb-0 mt-2">{{settings.dashboard.header}}</h1>
        </div>
        <div class="col-12 col-sm-4 col-lg-2 d-flex align-items-center mb-3 mb-sm-0">
          <div class="w-100 position-relative bxi-realty-search">
            <input class="w-100 bxi-ff-secondary rounded-1" type="text" placeholder="{{settings.dashboard.properties.search.location_placeholder}}" />
            {{> pinIcon class='position-absolute' }}
          </div>
        </div>
        <div class="col-12 col-sm-8 col-lg-5 d-flex align-items-center ps-sm-0">
          <div class="w-100 position-relative bxi-realty-search">
            <input class="w-100 bxi-ff-secondary rounded-1" type="text" placeholder="{{settings.dashboard.properties.search.name_placeholder}}" />
            {{> searchIcon class='position-absolute' }}
          </div>
        </div>
      </div>
      <div class="row">
        {{#each settings.dashboard.properties.units}}
        <div class="col-lg-6">
          <div class="bxi-unit-wrapper p-4 cursor-pointer mb-4 rounded-1">
            <div class="row">
              <div class="col-sm-4 d-flex align-items center">
                <img class="w-100 h-auto" src="{{image}}" />
              </div>
              <div class="col-sm-4">
                <p class="bxi-ff-secondary bxi-unit-color text-nowrap fs-7 mb-1">{{description}}</p>
                <h4 class="bxi-ff-secondary bxi-secondary-color text-nowrap">{{title}}</h4>
                <p class="bxi-ff-secondary bxi-unit-color text-nowrap fs-7 mb-0">{{location}}</p>
                <p class="bxi-ff-secondary bxi-unit-color text-nowrap fs-7 mb-0">{{availability}}</p>
                <p class="bxi-ff-secondary bxi-unit-color text-nowrap fs-7 mb-0">{{price}}</p>
              </div>
              <div class="col-sm-4 d-flex justify-content-end align-items-end">
                <button class="bxi-button bxi-button--link mb-3">{{button}}</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <h1 class="text-uppercase fw-bold mt-5">{{settings.dashboard.properties.showcase.title}}</h1>
      <div class="row">
        {{#each settings.dashboard.properties.showcase.units}}
        <div class="col-md-6 mb-4">
          <div class="bxi-showcase-unit mb-4 position-relative overflow-hidden w-100 cursor-pointer p-4">
            <img class="position-absolute bxi-img-cover top-50 start-50 translate-middle" src="{{image}}" />
            <div class="position-relative bxi-zi-2">
              <div class="d-flex justify-content-between">
                <h5 class="bxi-showcase-color bxi-ff-secondary">{{description}}</h5>
                <div class="bxi-showcase-color bxi-ff-secondary">
                  {{location}} {{> pinIcon class='ms-2' }}
                </div>
              </div>
              <h1 class="bxi-showcase-color bxi-ff-secondary fw-bold">{{title}}</h1>
              <h1 class="bxi-showcase-color bxi-ff-secondary fw-bold">{{price}}</h1>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <button class="bxi-action-button bxi-button bxi-button--outline bxi-button--lg mb-5">{{> documentIcon class='me-2' }}{{settings.dashboard.properties.action}}</button>
      {{#if env.BXI_DASHBOARD_POLICY_ID}}
      <div class="mb-5" data-dv-flow="static" data-policy-id="{{env.BXI_DASHBOARD_POLICY_ID}}"></div>
      {{/if}}
    </section>
    <footer class="bxi-footer py-4">
      <div class="container">
        <div class="d-block d-lg-flex align-items-center justify-content-between mb-sm-3 mb-4">
          <ul class="d-none d-md-flex mb-5 mb-lg-3 mb-lg-0 p-0 ls-none">
            {{#each settings.footer.links }}
              <li class="fs-6 me-4"><a class="bxi-link bxi-link-light--primary fs-6">{{this}}</a></li>
            {{/each}}
          </ul>
          <div class="footer-contacts d-flex flex-column-reverse flex-md-row justify-content-start align-items-center align-items-md-start justify-content-md-between justify-content-lg-end">
            <div class="footer-support">
              <div class="text-center text-md-start mb-3 fs-5 fw-bold">{{settings.footer.phone_number}}</div>
              <button class="bxi-button bxi-button--outline bxi-button--lg">Online support</button>
            </div>
            <div class="ms-0 ms-md-3">
              <div class="ms-0 mb-3 text-center text-md-start fs-5 fw-bold">Follow us:</div>
              <ul class="d-flex align-items-center ls-none ps-0">
                <li>
                  <button class="bxi-button bxi-button--lg bxi-button--outline bxi-button--icon me-md-3 me-5">
                    {{> facebookIcon }}
                  </button>
                </li>
                <li>
                  <button class="bxi-button bxi-button--lg bxi-button--outline bxi-button--icon me-md-3 me-5">
                    {{> twitterIcon }}
                  </button>
                </li>
                <li>
                  <button class="bxi-button bxi-button--lg bxi-button--outline bxi-button--icon">
                    {{> instagramIcon }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="container">
        <p class="mb-3 mb-md-0 fs-8 bxi-copyright-color bxi-ff-secondary">{{settings.footer.copyright}}</p>
        {{> remix }}
      </section>
    </footer>
    {{> modal}}
  </body>
</html>