<!DOCTYPE html>
<html lang="en">
  {{#> head }}
    {{> manufacturingBranding }}
  {{/head}}
  <body onload="bxi.pageLoad()" class="bxi manufacturing dashboard">
    {{> variables}}
    <header class="bxi-header">
      <nav class="navbar navbar-expand-lg flex-wrap p-0">
        <div class="container py-2">
          <div class="bxi-nav">
            <a class="bxi-nav-toggle" role="button">
              {{> hamburgerIcon }}
            </a>
            <ul class="bxi-nav-links bxi-bg-secondary">
              {{#each settings.dashboard.header.links}}
              <li>
                <a class="bxi-link bxi-link-light--primary">{{this}}</a>
              </li>
              {{/each}}
            </ul>
            <a id="bxi-logo" class="navbar-brand py-0 me-0">
              <img src="{{settings.images.logo}}" alt="Logo" />
            </a>
          </div>
          <div class="d-flex flex-row position-relative">
            <p id="username-container" class="bxi-color-primary fw-bold d-none d-sm-flex mb-0 mt-1 me-2 mt-lg-0">{{settings.dashboard.username}}</p>
            <div class="bxi-user-icon d-flex d-lg-none bxi-bg-primary">
              {{> userIcon }}
            </div>
            <div class="d-none d-lg-flex static-user-icon me-2">
              {{> userIcon }}
            </div>
            <div class="bxi-auth-buttons bxi-auth-buttons--primary-link bxi-bg-primary bxi-bg-lg-transparent">
              <button onclick="bxi.logout()" class="bxi-button mb-1 mb-lg-0">Log Out</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="container mb-5">
      <div class="d-flex flex-column flex-md-row justify-content-end mt-4">
        {{!-- See src/dashboard-buttons.hbs to update dashboard buttons --}}
        {{> dashboardButtons}}
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center mb-4">
        <h1 class="bxi-main-header bxi-color-primary bxi-ff-secondary text-uppercase my-4">{{settings.dashboard.portal_header}}</h1>
        <div class="d-flex flex-column flex-sm-row">
          {{#each settings.dashboard.buttons}}
          <button class="bxi-button bxi-button--outline bxi-button--md ms-3 mb-3">{{this}}</button>
          {{/each}}
        </div>
      </div>
      {{#each settings.dashboard.services}}
      <div class="row bxi-component-bg-color mb-4 mx-2 mx-sm-0">
        <div class="col-md-5 overflow-hidden position-relative services-image">
          <img class="position-absolute top-50 start-50 translate-middle bxi-img-cover" src="{{image}}" alt="{{title}}">
        </div>
        <div class="col-md-7 px-4 py-5 d-flex justify-content-between flex-column">
          <div>
            <h4 class="bxi-color-primary fw-bold">{{title}}</h4>
            <p class="bxi-color-primary">{{description}}</p>
          </div>
          <button class="bxi-button bxi-button--md align-self-start">{{button}}</button>
        </div>
      </div>
      {{/each}}
      {{#if env.BXI_DASHBOARD_POLICY_ID}}
      <div class="mb-3 bxi-component-bg-color" data-dv-flow="static" data-policy-id="{{env.BXI_DASHBOARD_POLICY_ID}}"></div>
      {{/if}}
    </section>
    <footer class="bxi-footer py-5 mt-5">
      <div class="container">
        <div class="d-block d-lg-flex justify-content-between mb-sm-3 mb-4">
          <ul class="d-none d-md-flex mb-4 p-0 ls-none">
            {{#each settings.footer.links }}
              <li class="me-4"><a class="bxi-link bxi-link-light--secondary">{{this}}</a></li>
            {{/each}}
          </ul>
          <div class="footer-contacts d-flex flex-column-reverse flex-md-row justify-content-start align-items-center align-items-md-start justify-content-md-between justify-content-lg-end">
            <div class="footer-support me-0 me-lg-4">
              <div class="text-center text-md-start mb-3 fw-bold fs-5">{{settings.footer.phone_number}}</div>
              <button class="bxi-button bxi-button--outline bxi-button--lg fs-7">Online support</button>
            </div>
            <div class="ms-0 ms-md-3">
              <div class="ms-0 mb-3 text-center text-md-start fw-bold fs-5">Follow us:</div>
              <ul class="d-flex align-items-center ls-none ps-0">
                <li>
                  <button class="bxi-button bxi-button--outline bxi-button--icon bxi-button--lg me-md-3 me-5">
                    {{> facebookIcon }}
                  </button>
                </li>
                <li>
                  <button class="bxi-button bxi-button--outline bxi-button--icon bxi-button--lg me-md-3 me-5">
                    {{> twitterIcon }}
                  </button>
                </li>
                <li>
                  <button class="bxi-button bxi-button--outline bxi-button--icon bxi-button--lg">
                    {{> instagramIcon }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="bxi-footer bxi-bg-primary py-4">
      <div class="container">
        <p class="fs-8 m-0 text-center text-md-start bxi-copyright-color">{{settings.footer.copyright}}</p>
        {{> remix }}
      </div>
    </section>
    {{> modal}}
  </body>
</html>